<body>
  <header>
    <div aria-hidden="true" class="mt-40"></div>
  </header>
  <div class="container mx-auto w-4/5 mt-10">
    <span class="text-2xl pb-4 font-medium tracking-wide">Legna Chávez</span>
    <br>
    <span class="text-blue-600/100 text-sm">Front-end Developer</span>
    <br>
    <span class="text-gray-500 text-xs">Based in New York</span>
    <br>
    <br>
    <a class="url url1 underline text-sm" href="mailto:legna.ch18@gmail.com">Email me</a>
    <a class="url url1 underline text-sm" href="https://www.linkedin.com/in/legnachavez/">Linkedin</a>
    <a class="url url1 underline text-sm" href="https://github.com/legnachavez">GitHub</a>





    <div class="grid gap-4 grid-cols-3">
    <div class="bg-gray-100 rounded-lg"> <h2 class="tracking-wide antialiased text-gray-800 hover:bg-red-100 p-2 text-center">Education</h2></div>
    <div class="bg-gray-100 rounded-lg"> <h2 class="tracking-wide antialiased text-gray-800 hover:bg-red-100 p-2 text-center">Work</h2></div>
    <div class="bg-gray-100 rounded-lg"> <h2 class="tracking-wide antialiased text-gray-800 hover:bg-red-100 p-2 text-center">Skills</h2></div>
    </div>
  </div>
</body>




  <%# <div class="bg-gray-700 text-white min-h-screen flex items-center justify-center">
    <div class=max-w-lg>
      <div class="flex hover:bg-gray-800 hover:bg-opacity-30 px-4 py-1">
        <img class="w-10 h-10 rounded-full mr-4" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGVhZHNob3R8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"/>
        <div>
        <p class="flex items-baseline">
          <span class="text-green-500 mr-2 text-sm font-medium">
          carlos
          </span>
          <span class="text-xs text-gray-500">01/15/2021
          </span>
        </p>
        <p class="text-gray-300">
          You should never use something like leading relaxed with a big font size, it goes against all typography best practices. Line height should decrease as font size gets bigger
        </p>
        </div>
      </div>
        <div class="mt-1 hover:bg-gray-800 hover:bg-opacity-30 px-4 py-1">
          <p class="text-gray-300 pl-14">
            You can override it in your config if you want but ultimately we chose the defaults they did becasue they let you get results closest to what a professional designer would do more easily
          </p>
        </div>
        <div class="mt-1 hover:bg-gray-800 hover:bg-opacity-30 px-4 py-1">
          <p class="text-gray-300 pl-14">
            Since we changed this is tailwind 2 I've almost never used a leading class at all
          </p>
        </div>
    </div>
  </div> %>
