<body>
  <div class="container mx-auto w-4/5 mt-10">
    <h1 class="text-blue-600/100">Legna Chavez</h1>
    <div class="grid gap-4 grid-cols-3">
    <div class="bg-gray-100 rounded-lg"> <h2 class="tracking-wide antialiased text-gray-800">Education</h2></div>
    <div class="bg-gray-100 rounded-lg"> <h2 class="tracking-wide antialiased text-gray-800">Work</h2></div>
    <div class="bg-gray-100 rounded-lg"> <h2 class="tracking-wide antialiased text-gray-800">Skills</h2></div>
    </div>
  </div>
</body>
